html { 
  Color: black ;
  background-image: black;
  font-family: courier;
  font-style: italic;
  font-size: 20px;
  text-decoration: double white underline;
  /*text-align: right;*/
  border-style: double;
  border-width: 56px;
  border-color: #846f58;
}

.button {
  background-color: red;
}
  
.earth {
  height: 160px;
  width: 60px;
}
.first {
  color: white;
  font-size: 30px;
  text-decoration: double #840000 underline;
  text-align: left;
}
.lol{
  color: #840000;
  font-size: 20px;
  text-decoration: double black underline;
  text-align: center;
  
}
.ber{
  color: White;
}
.pop{
  color: grey;
}
.crack{
  color: #840000;
}
.image{
  text-align: center;
}
.str:hover{
  color: #000000;
}
.rob:hover{
  color: #ff0000;
}
.gul:hover{
  color: #5f1556;
}

h1{
    color:orange;
    
}