    <div class = "first"> 
     <span class = "str">Hello</span> 
     <span class = "ber"> World </span>
    </div>
    <div class = "lol">
     <span class = "rob">Get</span>
     <span class = "pop">Motivated </span>
    </div>
    <div>
     <span class = "gul">Organization</span> 
     <span class = "crack"> is great!</span>
    </div> 
     <input id = "add-new-todo-button" type = "submit" value = "add to do"
         >
    </div> 
    <span class = "earth">https://i.kinja-img.com/gawker-media/image/upload/t_original/shc76uhbyktdsffvcco5.gif</span>
       <h1> List </h1>
       <span class = "button">submit</span>
 <ol> <input type = "submit" value = "add"> <li> <input type = "checkbox"><input type = "text" placeholder = "add a new to do "> </li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li> 
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"> </li>
<li><input type = "checkbox"><insput type = "text" placeholder = "add a new to do"> </li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"> </li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li> 
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"> </li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"> </li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li>
<li><input type = "checkbox"><input type = "text" placeholder = "add a new to do"></li>
<input type = "submit">
 </ol>    
      
      
      
      
      
      
      <p>

      </p>